body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: #f4f4f4;
}

.grid-container {
  display: grid;
  grid-template-rows: 100px 100px ;
  grid-template-columns:100px 100px ;
  gap: 20px;
  padding: 20px;
  justify-items: center;
}
.container{display: grid;
  grid-template-columns: auto auto;
padding:10px}

 .product-container1, .product-container2 , .product-container3 , .product-container4 {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* overflow: hidden; */
  width: 100%;
  max-width: 300px;
 
  text-align: center;
  padding: 20px;
}

.product-image img {
  width: 100%;
  height: auto;
}

.product-details {
  padding: 20px 0;
}

.product-details h1 {
  margin: 0 0 20px 0;
}

.product-details p {
  margin: 10px 0;
}

#add-to-cart-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

#add-to-cart-btn:hover {
  background-color: #218838;
}

  