.iconBar{
    background-image: url('../images/HomeImg.png');
    background-size: cover;
    box-shadow: 10px 5px 5px #88b37896 ;
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    top: 0;
    width: 97%;
    margin-left: 25px;
    text-decoration: none;
}
.aboutUs,.shop,.contact,.search,.cart,.account{
    color:#828282;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.aboutUs .icon, .shop .icon, .contact .icon, .search .icon, .cart .icon, .account .icon {
    font-size: 35px;
    color: #828282;
}
.aboutUs p, .shop p, .contact p, .search p, .cart p, .account p {
    margin: 5px 0 0 0;
    font-size: 18px; 
    color: #828282;
    text-decoration: none; 
}
.title{
    color: #88B378;
    font-size: xx-large;
    text-align: center;
    text-decoration: none !important;
}
.subContainer{
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}
.subtitle{
    margin: 0 20px;
    font-size: 20px;
    color: #88B378;
    text-shadow: 2px 2px 5px rgb(62, 212, 120);
}
.cartAdd{
    background-color: red;
    color: whitesmoke;
    padding: 0 3px;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    left: 20px;
}
